body{
    margin: 0px;
    border:none;
    padding: 0px;
    background-image: url(fondo.jpg);
    background-size: cover;
}
header{
    background-color: white;
    grid-area: header;
}
#logo{
    width: 100%; 
}
nav{
    background-color: black;
    grid-area: nav;
    display: flex;
}
ul.botonera{
    margin: 0px;
    justify-content: space-around; 
    display: none; 
    flex-direction: column;
}
ul.botonera.show{
    display: flex;
}
li.links{
    list-style: none;
}

li a{
    color: grey;    
    text-decoration: none;
    font-weight: bold;
}
footer{
    text-align:center;
    grid-area: pie;
}
.inicio{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "nav"
    "articleuno"
    "figureuno"
    "articledos"
    "figuredos"
    "articletres"
    "pie";
}
#menu{
    color: white;
    background-color: black;
    border: none;
}
.fotoindex{
    width: 100%;
    height: 70%;
}
.indexprincipal{
    grid-area: articleuno;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
.primerafoto{
    grid-area: figureuno;
    margin-bottom: 0px;
}
.indexsecundario{
    grid-area: articledos;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    font-family: sans-serif;
    font-weight: bold;
}
.segundafoto{
    grid-area: figuredos;
    margin-bottom: 0px;
}
.indexterciario{
    grid-area: articletres;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

input, textarea{
    margin: 5px;
    
}
.contacto{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "nav"
    "contactenos"
    "formulario"
    "botontres"
    "filtro"
    "pie";
}
.contactenos, .formulario{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.contactenos{grid-area: contactenos;}
.formulario{grid-area: formulario;}
.botontres{
    grid-area: botontres;
   text-align: center;
   margin: 15px;
}
.btnEnviar{
    color: white;
    background: green;
}
.cont_filtro{grid-area: filtro;}
.filtrardia{
    text-align: center;
}
.tablacoment{
    box-shadow: 10px 5px 5px black;
    margin: 5px;
}
.tablacoment,td,tr,thead{
    border: solid black;
    border-collapse: collapse;
}
.tablacoment thead{
    background-color: white;
}
